.App {
  text-align: center;
}

.FormMovie {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.FormMovie h1 {
  text-align: center;
}

.FormMovie .form-data {
  margin: 5px 0;
}

.FormMovie .form-data label {
  display: inline-block;
  width: 90px;
  margin-right: 10px;
  text-align: right;
}

.FormMovie .form-data input:not([type='submit']) {
  flex-grow: 1;
}
